* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgb(122, 122, 194);
}

h1 {
  margin-bottom: 15px;
}
section {
  height: calc(100vh-100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  width: 32%;
  text-align: center;
}
.error_message {
  color: rgb(149, 238, 238);
}
